li.project-card {
    border-radius: 18px;
    box-shadow: 0 6px 30px #0000001a;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.img-container {
    aspect-ratio: 4 / 3;
    position: relative;
    background-color: aliceblue;
}

.img-clip-mask {
    width: 100%;
    height: 100%;
    position: relative;
}

span {
    display: none;
    position: absolute;
    bottom: 4%;
    right: .5rem;
}

/*
.img-container:hover span {
    display: block;
}
.img-container:hover .img-clip-mask {
    clip-path: polygon(0 0, 100% 0,100% 85%, 0 100%);
}*/

.text-container {
    flex-grow: 1;
    background-color: #fff;
    padding: .75rem;
}
