<a class="project-container" href="@ProjectLink">
    <div class="project-info">
        <h2 class="subheader-text weight-heavy">@Title</h2>
        <div class="project-link">
            <span class="body-text">@Role</span>
            <img src="SVGs/Hyperlink.svg" class="featured-project-link" />
        </div>
    </div>
    <img src="@ProjectImage" class="featured-project-img" />
</a>

@code {

    [Parameter]
    public required string Title { get; set; }
    [Parameter]
    public required string Role { get; set; }
    [Parameter]
    public required string ProjectImage { get; set; }
    [Parameter]
    public required string ProjectLink { get; set; }
}
