<article id="Prayr">
    <div>
        <div class="img-container-centered">
            <img src="Images/FeaturedProjects/Prayr.webp" />
        </div>
        <div class="play-now-gid">
            <a rel="noreferrer" href="https://apps.apple.com/us/app/prayr-community/id6449752040" target="_blank">
                <img src="Images/FeaturedProjects/AppStore.svg" />
            </a>
            <a rel="noreferrer" href="https://play.google.com/store/apps/details?id=com.prayr.prayrcommunity" target="_blank">
                <img src="Images/FeaturedProjects/AndroidStore.svg" />
            </a>
        </div>
    </div>
    <div class="double-wide">
        <h3 class="header-text weight-heavy">Prayr</h3>
        <p class="body-text">
            Social media app to organize daily prayers and gratitude practices to create supportive online environments for local and nationwide prayer groups.
        </p>
        <h3 class="header-text weight-heavy">My Contributions</h3>
        <ul>
            <li>
                <p class="body-text">
                    Worked on core features such as group chat, membership management, and real-time notifications to enhance user engagement.
                </p>
            </li>
            <li>
                <p class="body-text">
                    Implemented Firebase analytics to gain insights into user behavior and optimize app performance.
                </p>
            </li>
            <li>
                <p class="body-text">
                    Integrated third-party APIs to interface with application backend.
                </p>
            </li>
            <li>
                <p class="body-text">
                    Engaged in daily Scrum meetings with cross-functional team, Utilized ClickUp for task tracking and Slack for collaborative problem-solving, ensuring effective communication and teamwork.
                </p>
            </li>
        </ul>
    </div>
</article>
@code {

}
