@using WyattSandersPortfolio.Components.ReusableComponents.Contact

<article id="Singularity">
    <div class="background-img1"></div>
    <section class="feature-wrapper">
        <img class="singularity-title-img" src="Images/FeaturedProjects/Singularity_Logo.png" />
        <div class="content1 black-background">
            <h2 class="textpadding">"The card game of total control. Every decision - and accompanying consequence - is your own."</h2>

            <p class="body-text textpadding">
                Stop waiting for the perfect draw and join me for a new type of card game with <strong>no randomness.</strong>
                </p>
            <p class="body-text textpadding">
                play your deck in the order you decide, and pull off your favorite combos every single game.
                Dive into intense 1v1 duels, strategic team battles, chaotic free-for-alls, or thrilling cooperative and solo boss incursions.
            </p>
        </div>
    </section>

    <section class="black-background">
        <h2 class="header-text weight-heavy textpadding">Roles and Contributions:</h2>
        <p class="subheader-text textpadding">
            <strong>Game Programmer:</strong> Designed, scripted, and tested improvements to Singularity gameplay on Tabletop Simulator using Lua.
        </p>
        <p class="subheader-text textpadding">
            <strong>Game Designer:</strong> Playtested, created, and iterated on expansions and co-op content. Assisted in polishing the core set.
        </p>
        <ul class="textpadding">
            <li>
                <p class="body-text"> refined designs through simplification and goal-oriented evaluation</p>
            </li>
            <li>
                <p class="body-text">
                    sketched wireframes inspired by successful implementations in other Tabletop Simulator games
                </p>
            </li>
            <li>
                <p class="body-text">
                    Iteratively refined automation mechanics, adapting the experience to match the expectations and habits of Tabletop Simulator users
                </p>
            </li>
            <li>
                <p class="body-text">
                    Garnered enthusiastic support from over 1,000 backers on Gamefound.
                </p>
            </li>
            <li>
                <p class="body-text">
                    Successfully held the first official Singularity tournament via Tabletop Simulator.
                </p>
            </li>
        </ul>
    </section>

    <section class="white-background">
        <div class="links textpadding">
            <a class="body-text" rel="noreferrer" target="_blank" href="https://gamefound.com/en/projects/octothorpe/singularityexe">Gamefound Page</a>
            <a class="body-text" rel="noreferrer" target="_blank" href="https://www.playsingularity.com/">Official Website</a>
            <a class="body-text" rel="noreferrer" target="_blank" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2968522499">Play Now on Tabletop Simulator</a>
        </div>
        <h2 class="header-text weight-heavy textpadding">Let’s Connect!</h2>
        <p class="body-text textpadding">Thank you for reviewing my work on Singularity! For more details or to discuss potential collaborations, feel free to reach out to me using the buttons below.</p>
        <ContactButtons>
        </ContactButtons>
    </section>
</article>

@code {

}
