<article id="TowerRush">
    <div class="tower-rush-overview">
        <img class="tower-title-img" src="Images/FeaturedProjects/TowerRush.webp" />
        <h3 class="header-text">Unleash your strategic prowess in this action packed PVP Tower Defense showdown!</h3>
        <div class="play-now-gid">
            <a rel="noreferrer" href="https://apps.apple.com/us/app/tower-rush-legend/id6455461456" target="_blank">
                <img src="Images/FeaturedProjects/AppStore.svg" />
            </a>
            <a rel="noreferrer" href="https://play.google.com/store/apps/details?id=com.sunshine.towerrush" target="_blank">
                <img src="Images/FeaturedProjects/AndroidStore.svg" />
            </a>
        </div>
    </div>
    <section>
        <h3 class="header-text weight-heavy">My Contributions</h3>
        <ul>
            <li>
                <p class="body-text"> Implemented Battle UI systems, Created asset management systems and resolved player input across networking API</p>
            </li>
            <li>
                <p class="body-text">
                    Developed Unity C# testing tools to streamline iterative testing and ensure reliable source code
                </p>
            </li>
            <li>
                <p class="body-text">
                    Actively contributed ideas and thought provoking questions to game design discussions and world building meetings to help form our unique world feel with animals and magical trees.
                </p>
            </li>
        </ul>
    </section>

</article>



@code {

}
