div {
    position: absolute;
    bottom:0;
    height:100%;
    width:100%;
    display:grid;
    column-gap: 40%;
    grid-template-columns: 1fr 1fr;
    
}


img {
    opacity: .25;
    max-width: 100%;
    height: 50%;
}

button {
    padding:0;
    border:0;
    background-color:unset;
}