@page "/counter"
@rendermode InteractiveWebAssembly
@using WyattSandersPortfolio.Models.GameModels

<PageTitle>Wyatt Sanders' Portfolio | Click Counter Game</PageTitle>
<header>
    <h1 class="header-text weight-heavy">Click Counter Game</h1>
    <h2 class="body-text">Feel free to check out the rest of the site and revisit, the game will keep counting!</h2>
</header>
<CounterGameView/>
<WyattSandersPortfolio.Components.Pages.DailyChestPage.DailyChest></WyattSandersPortfolio.Components.Pages.DailyChestPage.DailyChest>

@code {

    CounterGameModel gameModel = CounterGameModel.Instance;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        gameModel.StartGame();
    }
}

