menu {
    min-width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding:1rem;
}

h2 {
    width:100%;
    text-align:center;
}

button {
    width: 100%;
    min-height: 24px;
    max-height: 100px;
    margin: .1rem 0;
    padding: 0;
}

div {
    max-height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    min-width: 50px;
    height: auto; 
    padding: 1% 0 1%;
    flex-shrink: 0;
}

div.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right:.5rem;
}

p {
    margin: 0;
}

    p.item-name {
        padding-top: 0.5rem;
    }

    p.item-cost {
        padding-bottom: 0.5rem;
    }