@using WyattSandersPortfolio.Models.GameModels
@rendermode InteractiveWebAssembly
<article id="daily-chest" class="daily-chest-page">
    <header>
        <h3>--- * ! * DailyChest *  ! * ---</h3>
        <h5>adventures in procedural generation</h5>
    </header>
    
    @if (isChestOpened)
    {
        <div class="chest-page">
            <img class="chest-img" src="DailyChestComponents/OpenChest.png" alt="an open magic tresure chest" />

            <div class="items">
                <h3 class="subheader-text weight-mid">Gold : @todaysChest.gold gp</h3>
                <h3 class="subheader-text weight-mid">Items</h3>
                @foreach (GameItem item in todaysChest.items)
                {
                    <div class="item-row">
                        @item.Quantity
                        @("\t" + item.Name)
                        @item.GoldValue gp
                    </div>
                }
                @if (todaysChest.items.Count == 0)
                {
                    <div class="item-row"></div>
                }
            </div>
        </div>
    }
    else{
        <div class="chest-page" style="visibility:@isChestOpened">
            <img class="chest-img" src="DailyChestComponents/ClosedChest.png" alt="a closed tresure chest" />
            <button class="daily-chest-button" @onclick="OpenChest"></button>
        </div>
    }
    

</article>
@code {
    RandomItemChest todaysChest = DailyRandomChest.GetDailyChest();


    public bool isChestOpened { get; set; } = false;

    public void OpenChest()
    {
        isChestOpened = true;
        InvokeAsync(StateHasChanged);
    }

}
