@inherits LayoutComponentBase
@using WyattSandersPortfolio.Components.Layout.SharedLayoutComponents;


<div class="page">
    <BasePageLayout>
        <Body>
            @Body
        </Body>
    </BasePageLayout>
</div>

<Error />
