
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110%;
    transform-style: preserve-3d;
    z-index: -1;
}


.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}

.layer-1 {
    transform: translateZ(-10px) scale(2);
}
.layer-2 {
    transform: translateZ(-12px) scale(2.5);
}
.layer-3 {
    transform: translateZ(-12px) scale(2.5);
}
.layer-4 {
    transform: translateZ(-16px) scale(3.7);
}
.layer-5 {
    transform: translateZ(-20px) scale(3.9);
}
.layer-6 {
    transform: translateZ(-24px) scale(4.0);
}
.layer-7 {
    transform: translateZ(-28px) scale(4.5);
}
.layer-8 {
    transform: translateZ(-32px) scale(5);
}

.parallax-layer {
    position: absolute;
    height: 100%;
    width: 101%;
    object-fit: cover;
    z-index: -1;
}

.title {
    color: white;
    width: 50%;
}

h2 {
    display:none;
    padding-top: 10%;
    color: white;
    width: 100%;
}
.flower {
    background: #272A38;
    width: 200px;
    height: 200px;
    clip-path: polygon(82.5% 50%, 82.5959% 49.993%, 82.8795% 49.944%, 83.3388% 49.8126%, 83.9542% 49.5616%, 84.6992% 49.1577%, 85.5416% 48.5735%, 86.4443% 47.7882%, 87.3666% 46.7883%, 88.2661% 45.5681%, 89.0998% 44.1302%, 89.8258% 42.4852%, 90.4045% 40.6515%, 90.8008% 38.6545%, 90.9842% 36.526%, 90.9311% 34.303%, 90.6247% 32.0263%, 90.0561% 29.7392%, 89.2246% 27.4863%, 88.1375% 25.3112%, 86.8103% 23.2558%, 85.2656% 21.3583%, 83.5329% 19.6523%, 81.6471% 18.1653%, 79.6478% 16.9178%, 77.5772% 15.9228%, 75.4794% 15.1854%, 73.3984% 14.7021%, 71.3767% 14.4619%, 69.4538% 14.4457%, 67.665% 14.6277%, 66.0399% 14.9763%, 64.6015% 15.4547%, 63.3654% 16.0229%, 62.3396% 16.6387%, 61.5238% 17.2594%, 60.9094% 17.8431%, 60.4804% 18.3508%, 60.2136% 18.7471%, 60.0794% 19.0016%, 60.0431% 19.0907%, 60.066% 18.9973%, 60.107% 18.7124%, 60.1241% 18.235%, 60.0754% 17.5722%, 59.9215% 16.7388%, 59.6263% 15.7571%, 59.1584% 14.656%, 58.4924% 13.4698%, 57.6099% 12.2372%, 56.5% 11%, 55.1598% 9.80127%, 53.5947% 8.68415%, 51.8179% 7.69021%, 49.8503% 6.85797%, 47.7197% 6.22154%, 45.4597% 5.80942%, 43.1089% 5.64346%, 40.7092% 5.73808%, 38.3047% 6.0998%, 35.9397% 6.72693%, 33.6578% 7.60966%, 31.4999% 8.73038%, 29.5029% 10.0643%, 27.6986% 11.5803%, 26.1125% 13.2421%, 24.7629% 15.0094%, 23.6602% 16.8392%, 22.807% 18.6877%, 22.1974% 20.5114%, 21.8178% 22.2689%, 21.6471% 23.9223%, 21.6576% 25.4381%, 21.816% 26.7892%, 22.0847% 27.9551%, 22.4228% 28.9228%, 22.7882% 29.6875%, 23.1385% 30.2524%, 23.4329% 30.6286%, 23.6335% 30.8349%, 23.7069% 30.897%, 23.6252% 30.8463%, 23.367% 30.7192%, 22.9182% 30.5555%, 22.2728% 30.3969%, 21.4326% 30.2858%, 20.4077% 30.2632%, 19.2159% 30.368%, 17.882% 30.6348%, 16.437% 31.0932%, 14.9174% 31.7665%, 13.3632% 32.6706%, 11.8171% 33.8139%, 10.3228% 35.1966%, 8.92323% 36.8108%, 7.65955% 38.6404%, 6.56923% 40.6624%, 5.68495% 42.8469%, 5.03341% 45.1584%, 4.63438% 47.557%, 4.5% 50%, 4.63438% 52.443%, 5.03341% 54.8416%, 5.68495% 57.1531%, 6.56923% 59.3376%, 7.65955% 61.3596%, 8.92323% 63.1892%, 10.3228% 64.8034%, 11.8171% 66.1861%, 13.3632% 67.3294%, 14.9174% 68.2335%, 16.437% 68.9068%, 17.882% 69.3652%, 19.2159% 69.632%, 20.4077% 69.7368%, 21.4326% 69.7142%, 22.2728% 69.6031%, 22.9182% 69.4445%, 23.367% 69.2808%, 23.6252% 69.1537%, 23.7069% 69.103%, 23.6335% 69.1651%, 23.4329% 69.3714%, 23.1385% 69.7476%, 22.7882% 70.3125%, 22.4228% 71.0772%, 22.0847% 72.0449%, 21.816% 73.2108%, 21.6576% 74.5619%, 21.6471% 76.0778%, 21.8178% 77.7311%, 22.1974% 79.4886%, 22.807% 81.3123%, 23.6602% 83.1608%, 24.7629% 84.9906%, 26.1125% 86.7579%, 27.6986% 88.4197%, 29.5029% 89.9357%, 31.4999% 91.2696%, 33.6578% 92.3903%, 35.9397% 93.2731%, 38.3047% 93.9002%, 40.7092% 94.2619%, 43.1089% 94.3565%, 45.4597% 94.1906%, 47.7197% 93.7785%, 49.8503% 93.142%, 51.8179% 92.3098%, 53.5947% 91.3158%, 55.1598% 90.1987%, 56.5% 89%, 57.6099% 87.7628%, 58.4924% 86.5302%, 59.1584% 85.344%, 59.6263% 84.2429%, 59.9215% 83.2612%, 60.0754% 82.4278%, 60.1241% 81.765%, 60.107% 81.2876%, 60.066% 81.0027%, 60.0431% 80.9093%, 60.0794% 80.9984%, 60.2136% 81.2529%, 60.4804% 81.6492%, 60.9094% 82.1569%, 61.5238% 82.7406%, 62.3396% 83.3613%, 63.3654% 83.9771%, 64.6015% 84.5453%, 66.0399% 85.0237%, 67.665% 85.3723%, 69.4538% 85.5543%, 71.3767% 85.5381%, 73.3984% 85.2979%, 75.4794% 84.8146%, 77.5772% 84.0772%, 79.6478% 83.0822%, 81.6471% 81.8347%, 83.5329% 80.3477%, 85.2656% 78.6417%, 86.8103% 76.7442%, 88.1375% 74.6888%, 89.2246% 72.5137%, 90.0561% 70.2607%, 90.6247% 67.9737%, 90.9311% 65.697%, 90.9842% 63.474%, 90.8008% 61.3455%, 90.4045% 59.3485%, 89.8258% 57.5148%, 89.0998% 55.8698%, 88.2661% 54.4319%, 87.3666% 53.2117%, 86.4443% 52.2118%, 85.5416% 51.4265%, 84.6992% 50.8423%, 83.9542% 50.4384%, 83.3388% 50.1874%, 82.8795% 50.056%, 82.5959% 50.007%);
}
.gear {
    background: #272A38;
    width: 200px;
    height: 200px;
    clip-path: polygon(77.7718% 50%, 77.7602% 49.4185%, 77.7307% 48.8377%, 77.7017% 48.2572%, 77.7122% 47.6729%, 77.8271% 47.0752%, 78.1354% 46.4457%, 78.7337% 45.757%, 79.6987% 44.9768%, 81.0562% 44.0757%, 82.7596% 43.0367%, 84.6853% 41.8646%, 86.645% 40.5912%, 88.4191% 39.2732%, 89.8136% 37.9796%, 90.7217% 36.7687%, 91.1528% 35.6691%, 91.2067% 34.6754%, 91.0149% 33.761%, 90.6914% 32.8949%, 90.311% 32.0524%, 89.913% 31.2184%, 89.5121% 30.386%, 89.1069% 29.5554%, 88.6805% 28.7352%, 88.1928% 27.9494%, 87.5731% 27.2449%, 86.7232% 26.6948%, 85.5423% 26.3858%, 83.9735% 26.3878%, 82.0472% 26.7163%, 79.8876% 27.314%, 77.674% 28.0659%, 75.5842% 28.8349%, 73.7526% 29.4973%, 72.2507% 29.9654%, 71.0854% 30.1995%, 70.2112% 30.2077%, 69.5525% 30.0336%, 69.0282% 29.737%, 68.5713% 29.3745%, 68.1367% 28.9885%, 67.6998% 28.6046%, 67.2503% 28.2355%, 66.7866% 27.8845%, 66.3133% 27.5467%, 65.8428% 27.2051%, 65.3982% 26.8239%, 65.0136% 26.3424%, 64.7306% 25.6769%, 64.5868% 24.7349%, 64.6013% 23.4404%, 64.7619% 21.7631%, 65.0217% 19.739%, 65.3036% 17.4782%, 65.5136% 15.1558%, 65.5615% 12.9808%, 65.3855% 11.1407%, 64.9722% 9.74085%, 64.3556% 8.77625%, 63.5957% 8.1566%, 62.7526% 7.7614%, 61.87% 7.48645%, 60.973% 7.26302%, 60.0726% 7.05521%, 59.1718% 6.84991%, 58.2694% 6.65039%, 57.3611% 6.47871%, 56.4404% 6.38592%, 55.5001% 6.46245%, 54.5369% 6.83455%, 53.5577% 7.63267%, 52.5837% 8.9332%, 51.647% 10.7047%, 50.7792% 12.7996%, 50% 15%, 49.3105% 17.0847%, 48.6957% 18.8804%, 48.1307% 20.2882%, 47.589% 21.2887%, 47.0498% 21.9309%, 46.5014% 22.3054%, 45.9409% 22.5121%, 45.3717% 22.6357%, 44.7987% 22.7336%, 44.2265% 22.8379%, 43.6584% 22.9624%, 43.0956% 23.1091%, 42.5367% 23.2694%, 41.9753% 23.4209%, 41.3961% 23.5198%, 40.771% 23.498%, 40.0589% 23.2692%, 39.2102% 22.748%, 38.1787% 21.8783%, 36.9368% 20.6596%, 35.4885% 19.1615%, 33.8778% 17.522%, 32.1881% 15.929%, 30.5287% 14.5818%, 29.005% 13.6357%, 27.6838% 13.1515%, 26.5738% 13.0863%, 25.6369% 13.3306%, 24.8152% 13.7638%, 24.0563% 14.2915%, 23.3247% 14.8566%, 22.6014% 15.4315%, 21.8794% 16.008%, 21.162% 16.5909%, 20.4664% 17.1996%, 19.8321% 17.8745%, 19.3302% 18.681%, 19.0604% 19.7017%, 19.1274% 21.0087%, 19.5954% 22.6235%, 20.4464% 24.49%, 21.5734% 26.4835%, 22.8133% 28.4521%, 23.9955% 30.2615%, 24.9815% 31.823%, 25.6869% 33.102%, 26.089% 34.1135%, 26.2197% 34.9085%, 26.146% 35.5535%, 25.9444% 36.1115%, 25.6804% 36.6302%, 25.3992% 37.139%, 25.1261% 37.6525%, 24.8723% 38.1758%, 24.6386% 38.7084%, 24.4161% 39.2455%, 24.1803% 39.7773%, 23.8839% 40.2875%, 23.4523% 40.7551%, 22.7904% 41.1591%, 21.802% 41.4865%, 20.4207% 41.7413%, 18.6386% 41.9478%, 16.5241% 42.1483%, 14.2228% 42.3953%, 11.9404% 42.7397%, 9.89963% 43.2175%, 8.27692% 43.8389%, 7.14443% 44.5861%, 6.45922% 45.4237%, 6.10518% 46.314%, 5.95329% 47.2288%, 5.90258% 48.1518%, 5.89147% 49.0761%, 5.89053% 50%, 5.89147% 50.9239%, 5.90258% 51.8482%, 5.95329% 52.7712%, 6.10518% 53.686%, 6.45922% 54.5763%, 7.14443% 55.4139%, 8.27692% 56.1611%, 9.89963% 56.7825%, 11.9404% 57.2603%, 14.2228% 57.6047%, 16.5241% 57.8517%, 18.6386% 58.0522%, 20.4207% 58.2587%, 21.802% 58.5135%, 22.7904% 58.8409%, 23.4523% 59.2449%, 23.8839% 59.7125%, 24.1803% 60.2227%, 24.4161% 60.7545%, 24.6386% 61.2916%, 24.8723% 61.8242%, 25.1261% 62.3475%, 25.3992% 62.861%, 25.6804% 63.3698%, 25.9444% 63.8885%, 26.146% 64.4465%, 26.2197% 65.0915%, 26.089% 65.8865%, 25.6869% 66.898%, 24.9815% 68.177%, 23.9955% 69.7385%, 22.8133% 71.5479%, 21.5734% 73.5165%, 20.4464% 75.51%, 19.5954% 77.3765%, 19.1274% 78.9913%, 19.0604% 80.2983%, 19.3302% 81.319%, 19.8321% 82.1255%, 20.4664% 82.8004%, 21.162% 83.4091%, 21.8794% 83.992%, 22.6014% 84.5685%, 23.3247% 85.1434%, 24.0563% 85.7085%, 24.8152% 86.2362%, 25.6369% 86.6694%, 26.5738% 86.9137%, 27.6838% 86.8485%, 29.005% 86.3643%, 30.5287% 85.4182%, 32.1881% 84.071%, 33.8778% 82.478%, 35.4885% 80.8385%, 36.9368% 79.3404%, 38.1787% 78.1217%, 39.2102% 77.252%, 40.0589% 76.7308%, 40.771% 76.502%, 41.3961% 76.4802%, 41.9753% 76.5791%, 42.5367% 76.7306%, 43.0956% 76.8909%, 43.6584% 77.0376%, 44.2265% 77.1621%, 44.7987% 77.2664%, 45.3717% 77.3643%, 45.9409% 77.4879%, 46.5014% 77.6946%, 47.0498% 78.0691%, 47.589% 78.7113%, 48.1307% 79.7118%, 48.6957% 81.1196%, 49.3105% 82.9153%, 50% 85%, 50.7792% 87.2004%, 51.647% 89.2953%, 52.5837% 91.0668%, 53.5577% 92.3673%, 54.5369% 93.1655%, 55.5001% 93.5376%, 56.4404% 93.6141%, 57.3611% 93.5213%, 58.2694% 93.3496%, 59.1718% 93.1501%, 60.0726% 92.9448%, 60.973% 92.737%, 61.87% 92.5135%, 62.7526% 92.2386%, 63.5957% 91.8434%, 64.3556% 91.2238%, 64.9722% 90.2591%, 65.3855% 88.8593%, 65.5615% 87.0192%, 65.5136% 84.8442%, 65.3036% 82.5218%, 65.0217% 80.261%, 64.7619% 78.2369%, 64.6013% 76.5596%, 64.5868% 75.2651%, 64.7306% 74.3231%, 65.0136% 73.6576%, 65.3982% 73.1761%, 65.8428% 72.7949%, 66.3133% 72.4533%, 66.7866% 72.1155%, 67.2503% 71.7645%, 67.6998% 71.3954%, 68.1367% 71.0115%, 68.5713% 70.6255%, 69.0282% 70.263%, 69.5525% 69.9664%, 70.2112% 69.7923%, 71.0854% 69.8005%, 72.2507% 70.0346%, 73.7526% 70.5027%, 75.5842% 71.1651%, 77.674% 71.9341%, 79.8876% 72.686%, 82.0472% 73.2837%, 83.9735% 73.6122%, 85.5423% 73.6142%, 86.7232% 73.3052%, 87.5731% 72.7551%, 88.1928% 72.0506%, 88.6805% 71.2648%, 89.1069% 70.4446%, 89.5121% 69.614%, 89.913% 68.7816%, 90.311% 67.9476%, 90.6914% 67.1051%, 91.0149% 66.239%, 91.2067% 65.3246%, 91.1528% 64.3309%, 90.7217% 63.2313%, 89.8136% 62.0204%, 88.4191% 60.7268%, 86.645% 59.4088%, 84.6853% 58.1354%, 82.7596% 56.9633%, 81.0562% 55.9243%, 79.6987% 55.0232%, 78.7337% 54.243%, 78.1354% 53.5543%, 77.8271% 52.9248%, 77.7122% 52.3271%, 77.7017% 51.7428%, 77.7307% 51.1623%, 77.7602% 50.5815%);
}

.blob {
    height: 400px;
    width: 400px;
    margin: 2vh;
    background-image: linear-gradient(-225deg, rgb(29, 31, 32) 0%, rgba(29, 31, 32, 0) 40%, rgba(0, 245, 245, 0) 60%, rgb(0, 245, 245) 100%), linear-gradient(45deg, rgb(46, 34, 167) 0%, rgb(245, 0, 146) 100%);
    animation: blob 5s ease-in-out infinite;
}

.vcenter-hleft {
    display:flex;
    top:0%;
}

.blob2 {
    width: 50%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 41% 53% 43% 59% / 41% 53% 43% 59%;
    border: 10px solid #ebd0c366;
    margin: 20px auto 0 5%;
}

iframe {
    clip-path: url(#squircleClip);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container {
    width:100%;
    aspect-ratio: 16/9;
    position:relative;
}

.video-border {
    position: absolute;
    inset: 0;
    clip-path: url(#squircleClip);
    opacity: 0;
    background: #fd5;
    box-shadow: inset 10px 10px 20px #ffcb, inset -10px -10px 20px #ea18;
    border-radius: calc(var(--size) / 6);
    transition: 0.3s cubic-bezier(.51,.61,0,2.3);
}

.video-container:hover .video-border {
    scale:1.1;
    opacity: 1;
}

@keyframes blob {
    0% {
        border-radius: 51% 49% 47% 53% / 55% 54% 46% 45%;
    }

    25% {
        border-radius: 47% 39% 43% 61% / 55% 54% 46% 45%;
    }

    50% {
        border-radius: 53% 46% 49% 48% / 53% 47% 49% 43.5%;
    }

    75% {
        border-radius: 47% 38% 57% 52% / 53% 53% 49% 54%;
    }

    100% {
        border-radius: 55% 54% 46% 45% / 52% 51% 47% 46%;
    }
}


@media screen and (min-width: 800px) {
    .title {
        font-size: 3.5rem;
    }
}
