


<section>
    <svg width="0" height="0" viewBox="0 0 1 1">
        <clipPath id="squircleClip" clipPathUnits="objectBoundingBox">
            <path d="M 0,0.5 C 0,0 0,0 0.5,0 S 1,0 1,0.5 1,1 0.5,1 0,1 0,0.5" />
        </clipPath>
    </svg>

    <div class="parallax-layer layer-1">
        <div class="video-container-wrapper">
            <div class="video-container">
                <div class="video-border" aria-hidden="true"></div>
                <iframe src="https://www.youtube-nocookie.com/embed/GvCNvWjX1To?playlist=GvCNvWjX1To&amp;si=hKSPcEgVnfGJyt6W&amp;rel=0&amp;controls=1&amp;modestbranding=1&amp;loop=1&amp;playsinline=1" title="Trailer Video for a moble game called Shiny" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="title-text-wrapper-top">
            <h1 class="header-text weight-heavy"><span>Wyatt</span></h1>
        </div>
    </div>
    <div class="parallax-layer layer-2"> 
        <div class="video-header-wrapper">
            <h2 class="subheader-text">Bringing Creative Games To Life</h2>
        </div>
        <div class="video-footer-wrapper">
            <div class="video-buttons">
                <a class="blob-button" href="#Projects">Games Projects</a>
                <a class="blob-button2" href="#Projects">Favorite projects</a>
            </div>
        </div>
    </div>

    <div class="parallax-layer layer-3">
        <div class="video-border-wrapper">
            <div class="blob-border">
            </div>
        </div>
        <div class="title-text-wrapper-middle">
            <h1 class="header-text weight-heavy">Sanders</h1>
        </div>
    </div>
    <div class="parallax-layer layer-4">
        <div class="title-text-wrapper-CTA">
            <h2 class="subheader-text">Scroll down to get to know me</h2>
        </div>
        <div class="bottom-row">
            <h2 class="subheader-text scrolling-text rise-up">Exciting New Ventures, Innovative Solutions, Proven Reliability, Adaptable</h2>
        </div>
    </div>


    <div class="parallax-layer layer-5">
        <div class="full-grid-row-1">
            <div class="star-group fly-right">
                <div class="star fly-right">✦</div>
                <div class="star2 fly-right">✦</div>
                <div class="star2 fly-right">✦</div>
            </div>
        </div>
        <div class="full-grid-row-2">
            <div class="star-group fly-right">
                <div class="star fly-right">✦</div>
                <div class="star2 fly-right">✦</div>
                <div class="star2 fly-right">✦</div>
            </div>
        </div>
        <div class="full-grid-row-3">
            <div class="star-group fly-right">
                <div class="star fly-right">✦</div>
                <div class="star2 fly-right">✦</div>
                <div class="star2 fly-right">✦</div>
            </div>
        </div>
    </div>
    <div class="parallax-layer layer-6">
        <svg class="video-background" width="883px" height="584px" viewBox="0 0 883 584" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="a">
                    <stop stop-color="#FAFDFE" offset="5%" />
                    <stop stop-color="#DFEBF7" offset="100%" />
                </linearGradient>
            </defs>
            <path d="M835.746-2.683c58.652 62.415 62.704 127.241 12.158 194.48C772.084 292.655 402.786 394.5 283.349 387.5 203.725 382.833 108.61 449-2 586V-14L835.746-2.683z" fill="url(#a)" fill-rule="evenodd" />
        </svg>
    </div>
    
    <!--
    
    <div class="blob"></div>
    
    
    Scroll to explore
    <nav>
        <div>
            <NavLink>Get To Know Me</NavLink>
        </div>
        <div>
            <NavLink>Featured Projects</NavLink>
        </div>
        <div>
            <NavLink>Game Projects</NavLink>
        </div>
        <div>
            <NavLink>Software Projects</NavLink>
        </div>
    </nav>

    <svg class="bottom-left" width="232" height="191" viewBox="0 0 232 191" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50.5685" cy="172.432" r="112.068" stroke="white" stroke-opacity="0.09" />
        <g opacity="0.1">
            <path d="M26.4932 5.20547L228.856 172.432" stroke="#D9D9D9" />
            <rect x="22.4384" y="0.5" width="6.15753" height="6.15753" fill="#686868" stroke="white" />
            <rect x="224.801" y="169.027" width="6.15753" height="6.15753" fill="#686868" stroke="white" />
            <circle cx="121.819" cy="83.613" r="1.7774" fill="#323232" stroke="white" />
        </g>
    </svg>
>
    <div>
        <h1 class="title header-text weight-heavy">Experience my creative journey as a game developer and software engineer</h1>
        
    </div>-->

    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="wave-container">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
    </svg>
</section>
@code {

}
