<section>
    <img src=" Images/Parallax/Parallax01.webp" class="parallax-layer layer-1" />
    <img src=" Images/Parallax/Parallax03.webp" class="parallax-layer layer-3" />
    <img src=" Images/Parallax/Parallax02.webp" class="parallax-layer layer-2" />
    <img src=" Images/Parallax/Parallax04.webp" class="parallax-layer layer-4" />
    <img src=" Images/Parallax/Parallax05.webp" class="parallax-layer layer-5" />
    <img src=" Images/Parallax/Parallax06.webp" class="parallax-layer layer-6" />
    <img src=" Images/Parallax/Parallax07.webp" class="parallax-layer layer-7" />
    <img src=" Images/Parallax/Parallax08.webp" class="parallax-layer layer-8" />
    <div>
        <h1 class="title header-text weight-heavy">Experience my creative journey as a game developer and software engineer</h1>
        <h2  class="subheader-text">Exciting New Ventures, Innovative Solutions, Proven Reliability, Adaptable</h2>
    </div>
</section>
<a href="https://www.freepik.com/free-vector/magic-portal-mountain-cliff-with-flying-rocks-around_12407814.htm#fromView=search&page=1&position=6&uuid=4ddfa882-9bf4-4b37-bcb5-2506d8fb94ca" class="secondary-text">Image by upklyak on Freepik</a>
@code {

}
