/*main background settings*/
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200%;
    transform-style: preserve-3d;
    z-index: -1;
}

/*parallax layers*/
.background {
    transform: translateZ(-10px) scale(2);
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
}

.layer-1 {
    transform: translateZ(-10px) scale(2);
}
.layer-2 {
    transform: translateZ(-15px) scale(2.5);
}
.layer-3 {
    transform: translateZ(-20px) scale(3);
}
.layer-4 {
    transform: translateZ(-25px) scale(3.5);
}
.layer-5 {
    transform: translateZ(-30px) scale(4);
}
.layer-6 {
    transform: translateZ(-40px) scale(5);
}

.parallax-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: grid;
    grid-template-columns: .2fr 2fr .2fr;
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    justify-content: center;
}

/* text */

.title {
    color: white;
    width: 50%;
}

h2 {
    padding-top: 10%;
    color: black;
    width: 100%;
}

/* shapes */
.flower {
    background: #272A38;
    width: 200px;
    height: 200px;
    clip-path: polygon(82.5% 50%, 82.5959% 49.993%, 82.8795% 49.944%, 83.3388% 49.8126%, 83.9542% 49.5616%, 84.6992% 49.1577%, 85.5416% 48.5735%, 86.4443% 47.7882%, 87.3666% 46.7883%, 88.2661% 45.5681%, 89.0998% 44.1302%, 89.8258% 42.4852%, 90.4045% 40.6515%, 90.8008% 38.6545%, 90.9842% 36.526%, 90.9311% 34.303%, 90.6247% 32.0263%, 90.0561% 29.7392%, 89.2246% 27.4863%, 88.1375% 25.3112%, 86.8103% 23.2558%, 85.2656% 21.3583%, 83.5329% 19.6523%, 81.6471% 18.1653%, 79.6478% 16.9178%, 77.5772% 15.9228%, 75.4794% 15.1854%, 73.3984% 14.7021%, 71.3767% 14.4619%, 69.4538% 14.4457%, 67.665% 14.6277%, 66.0399% 14.9763%, 64.6015% 15.4547%, 63.3654% 16.0229%, 62.3396% 16.6387%, 61.5238% 17.2594%, 60.9094% 17.8431%, 60.4804% 18.3508%, 60.2136% 18.7471%, 60.0794% 19.0016%, 60.0431% 19.0907%, 60.066% 18.9973%, 60.107% 18.7124%, 60.1241% 18.235%, 60.0754% 17.5722%, 59.9215% 16.7388%, 59.6263% 15.7571%, 59.1584% 14.656%, 58.4924% 13.4698%, 57.6099% 12.2372%, 56.5% 11%, 55.1598% 9.80127%, 53.5947% 8.68415%, 51.8179% 7.69021%, 49.8503% 6.85797%, 47.7197% 6.22154%, 45.4597% 5.80942%, 43.1089% 5.64346%, 40.7092% 5.73808%, 38.3047% 6.0998%, 35.9397% 6.72693%, 33.6578% 7.60966%, 31.4999% 8.73038%, 29.5029% 10.0643%, 27.6986% 11.5803%, 26.1125% 13.2421%, 24.7629% 15.0094%, 23.6602% 16.8392%, 22.807% 18.6877%, 22.1974% 20.5114%, 21.8178% 22.2689%, 21.6471% 23.9223%, 21.6576% 25.4381%, 21.816% 26.7892%, 22.0847% 27.9551%, 22.4228% 28.9228%, 22.7882% 29.6875%, 23.1385% 30.2524%, 23.4329% 30.6286%, 23.6335% 30.8349%, 23.7069% 30.897%, 23.6252% 30.8463%, 23.367% 30.7192%, 22.9182% 30.5555%, 22.2728% 30.3969%, 21.4326% 30.2858%, 20.4077% 30.2632%, 19.2159% 30.368%, 17.882% 30.6348%, 16.437% 31.0932%, 14.9174% 31.7665%, 13.3632% 32.6706%, 11.8171% 33.8139%, 10.3228% 35.1966%, 8.92323% 36.8108%, 7.65955% 38.6404%, 6.56923% 40.6624%, 5.68495% 42.8469%, 5.03341% 45.1584%, 4.63438% 47.557%, 4.5% 50%, 4.63438% 52.443%, 5.03341% 54.8416%, 5.68495% 57.1531%, 6.56923% 59.3376%, 7.65955% 61.3596%, 8.92323% 63.1892%, 10.3228% 64.8034%, 11.8171% 66.1861%, 13.3632% 67.3294%, 14.9174% 68.2335%, 16.437% 68.9068%, 17.882% 69.3652%, 19.2159% 69.632%, 20.4077% 69.7368%, 21.4326% 69.7142%, 22.2728% 69.6031%, 22.9182% 69.4445%, 23.367% 69.2808%, 23.6252% 69.1537%, 23.7069% 69.103%, 23.6335% 69.1651%, 23.4329% 69.3714%, 23.1385% 69.7476%, 22.7882% 70.3125%, 22.4228% 71.0772%, 22.0847% 72.0449%, 21.816% 73.2108%, 21.6576% 74.5619%, 21.6471% 76.0778%, 21.8178% 77.7311%, 22.1974% 79.4886%, 22.807% 81.3123%, 23.6602% 83.1608%, 24.7629% 84.9906%, 26.1125% 86.7579%, 27.6986% 88.4197%, 29.5029% 89.9357%, 31.4999% 91.2696%, 33.6578% 92.3903%, 35.9397% 93.2731%, 38.3047% 93.9002%, 40.7092% 94.2619%, 43.1089% 94.3565%, 45.4597% 94.1906%, 47.7197% 93.7785%, 49.8503% 93.142%, 51.8179% 92.3098%, 53.5947% 91.3158%, 55.1598% 90.1987%, 56.5% 89%, 57.6099% 87.7628%, 58.4924% 86.5302%, 59.1584% 85.344%, 59.6263% 84.2429%, 59.9215% 83.2612%, 60.0754% 82.4278%, 60.1241% 81.765%, 60.107% 81.2876%, 60.066% 81.0027%, 60.0431% 80.9093%, 60.0794% 80.9984%, 60.2136% 81.2529%, 60.4804% 81.6492%, 60.9094% 82.1569%, 61.5238% 82.7406%, 62.3396% 83.3613%, 63.3654% 83.9771%, 64.6015% 84.5453%, 66.0399% 85.0237%, 67.665% 85.3723%, 69.4538% 85.5543%, 71.3767% 85.5381%, 73.3984% 85.2979%, 75.4794% 84.8146%, 77.5772% 84.0772%, 79.6478% 83.0822%, 81.6471% 81.8347%, 83.5329% 80.3477%, 85.2656% 78.6417%, 86.8103% 76.7442%, 88.1375% 74.6888%, 89.2246% 72.5137%, 90.0561% 70.2607%, 90.6247% 67.9737%, 90.9311% 65.697%, 90.9842% 63.474%, 90.8008% 61.3455%, 90.4045% 59.3485%, 89.8258% 57.5148%, 89.0998% 55.8698%, 88.2661% 54.4319%, 87.3666% 53.2117%, 86.4443% 52.2118%, 85.5416% 51.4265%, 84.6992% 50.8423%, 83.9542% 50.4384%, 83.3388% 50.1874%, 82.8795% 50.056%, 82.5959% 50.007%);
}


.blob-button {
    background: #5483f8;
    color: #ffffff;
    border-radius: 30% 30% 30% 70% / 40% 60% 40% 60%;
    width: 150px;
    text-align: center;
    padding: 20px 50px;
    box-shadow: 2px 2px 10px #1a1a1a;
}

    .blob-button:after {
        border-radius: 100px;
        width: 500px;
        height: 500px;
        background: #111111;
        z-index: 10;
        box-shadow: 2px 2px 10px #1a1a1a;
    }

.blob-button2 {
    background: #5483f8;
    color: #ffffff;
    border-radius: 30% 30% 70% 30% / 40% 40% 60% 60%;
    width: 150px;
    text-align: center;
    padding: 20px 50px;
    box-shadow: 2px 2px 10px #1a1a1a;
}
    .blob-button2:after {
        border-radius: 100px;
        width: 500px;
        height: 500px;
        background: #111111;
        z-index: 10;
        box-shadow: 2px 2px 10px #1a1a1a;
    }
/*positioning*/

.video-container-wrapper {
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: span 2;
    width: 100%;
    height: 100%;
}
.video-header-wrapper {
    grid-column-start: 2;
    grid-row-start: 5;
    width: 100%;
    height: 100%;
}
.video-footer-wrapper {
    grid-column-start: 2;
    grid-row-start: 8;
    width: 100%;
    height: 100%;
}
.video-border-wrapper {
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: span 4;
    width: 100%;
    height: 100%;
}
.video-background {
    grid-row-start: 5;
    grid-column-start: span 3;
    grid-row-end: span 4;
}


/*Video buttons*/

.video-buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:10%;
}

/* video */
iframe {
    clip-path: url(#squircleClip);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blob-border {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 41% 53% 43% 59% / 41% 53% 43% 59%;
    border: 10px solid #ebd0c366;
    margin-bottom: 10px;
}

.video-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: unset;
    max-height: 100%;
    width: unset;
    aspect-ratio: 16/9;
    object-fit: contain;
    position: relative;
}

.video-border {
    position: absolute;
    inset: 0;
    clip-path: url(#squircleClip);
    opacity: 0;
    background: #fd5;
    box-shadow: inset 10px 10px 20px #ffcb, inset -10px -10px 20px #ea18;
    border-radius: calc(var(--size) / 6);
    transition: 0.3s cubic-bezier(.51,.61,0,2.3);
}

.video-container:hover .video-border {
    scale:1.1;
    opacity: 1;
}

/* || ANIMATIONS*/
/*appear from bottom of screen*/
.wave {
    animation: wave ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.blob {
    height: 400px;
    width: 400px;
    margin: 2vh;
    background-image: linear-gradient(-225deg, rgb(29, 31, 32) 0%, rgba(29, 31, 32, 0) 40%, rgba(0, 245, 245, 0) 60%, rgb(0, 245, 245) 100%), linear-gradient(45deg, rgb(46, 34, 167) 0%, rgb(245, 0, 146) 100%);
    animation: blob 5s ease-in-out infinite;
}

@keyframes blob {
    0% {
        border-radius: 51% 49% 47% 53% / 55% 54% 46% 45%;
    }

    25% {
        border-radius: 47% 39% 43% 61% / 55% 54% 46% 45%;
    }

    50% {
        border-radius: 53% 46% 49% 48% / 53% 47% 49% 43.5%;
    }

    75% {
        border-radius: 47% 38% 57% 52% / 53% 53% 49% 54%;
    }

    100% {
        border-radius: 55% 54% 46% 45% / 52% 51% 47% 46%;
    }
}

.waves {
    position: absolute;
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 150px;
    bottom: 0;
    left: 0;
}

.wave-container > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

    .wave-container > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .wave-container > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .wave-container > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .wave-container > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media screen and (min-width: 800px) {
    .parallax-layer {
        grid-template-columns: .3fr 3fr .3fr 2fr .3fr;
        grid-template-rows: repeat(6, 1fr);
    }
    section {
        height: 120%;
    }

    .title {
        font-size: 3.5rem;
    }
    .waves {
        height: 5vh;
        min-height: 80px;
    }

    /*positioning*/

    .video-container-wrapper {
        grid-row-start: 3;
    }

    .video-header-wrapper {
        grid-row-start: 2;
    }

    .video-footer-wrapper {
        grid-row-start: 5;
    }

    .video-border-wrapper {
        grid-row-start: 2;
    }

    .video-background {
        grid-row-start: 1;
    }
}
