@using WyattSandersPortfolio.Components.Layout.SharedLayoutComponents
@inherits LayoutComponentBase

<div class="page">
    <HeroSection></HeroSection>
    <BasePageLayout>
        <Body>
            @Body
        </Body>
    </BasePageLayout>
</div>
