@using WyattSandersPortfolio.Components.ReusableComponents.Images
@using WyattSandersPortfolio.Components.ReusableComponents.Lists
@using Models.PortfolioData;
<section id="AboutMe">
    <div class="about-me-content">
        <div class="skill-column">
            <h2 class="weight-mid subheader-text">
                Hi, I'm Wyatt!
            </h2>

            <CircleImage ImageSource="Images/WyattHeadshot.jpg" AltDisplayText="Wyatt Sanders's Profile Photo" />
            <p class="body-text">
                I'm a <strong>Full Stack Developer and Game Designer</strong>. I craft engaging experiences and applications
                to address contemporary challenges.
                Explore my projects in the <strong>Projects</strong> section and take a look at the simple <strong>clicker game</strong> linked in the <strong>header</strong>.
            </p>
            <p class="body-text">
                Connect with me on
                <a class="weight-heavy" rel="noreferrer" href="https://www.linkedin.com/in/wyatt-sanders/" target="_blank">LinkedIn</a>
                to stay updated. I'm actively seeking <strong>job opportunities</strong> where I can contribute, learn, and grow. If you have such an opportunity, feel free to reach out — I'd love to have a chat!
            </p>
        </div>
        <div class="skill-column double-wide">
            <h4 class="weight-mid subheader-text">Languages and Tools</h4>
            <SelectableSkills SkillList="@SkillListProgramming" />
            <h4 class="weight-mid subheader-text">Skills</h4>
            <SelectableSkills SkillList="@SkillListGames" />
        </div>
    </div>
    <div class="education-content">
        <h2 class="header-text red-underline">Education</h2>
        <div class="education-entry">
            <div class="university-title-box">
                <img src="Images/university_of_utah_logo.jpg" alt="University of Utah Logo" class="university-logo">
                <div class="column">
                    <h3 class="subheader-text university-name">University of Utah</h3>
                    <h5 class="secondary-subheader-text degree">Bachelor's Degree in Computer Science (2022)</h5>
                </div>
            </div>
            <p class="body-text coursework-list">
                <strong>Relevant Coursework:</strong>
                Data Structures & Algorithms
                <span class="body-text weight-light"> | </span>
                Advanced Algorithms
                <span class="body-text weight-light"> | </span>
                Artificial Intelligence
                <span class="body-text weight-light"> | </span>
                Computer Networks
                <span class="body-text weight-light"> | </span>
                Machine Learning
                <span class="body-text weight-light"> | </span>
                Database Systems
                <span class="body-text weight-light"> | </span>
                Calculus 3
                <span class="body-text weight-light"> | </span>
                Discrete Math
                <span class="body-text weight-light"> | </span>
                Low-Level Computing
                <span class="body-text weight-light"> | </span>
                Statistics
                <span class="body-text weight-light"> | </span>
                Linear Algebra
                <span class="body-text weight-light"> | </span>
                Human-Centered Design
            </p>

            <ul class="body-text coursework-list">
            </ul>
        </div>
    </div>
</section>


@code {
    List<Skill>? SkillListGames, SkillListProgramming;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        SkillListGames = SkillModel.SkillsByCategory["Software Engineering Practices"];
        SkillListProgramming = SkillModel.SkillsByCategory["Programming Languages And Tools"];
    }
}
