@using WyattSandersPortfolio.Components.ReusableComponents
@using WyattSandersPortfolio.Components.ReusableComponents.Contact
<section id="Projects">
    <div class="content">
        <div class="grid">
            <div class="non-image-wrapper">
                <h3 class="header-text weight-heavy">My Latest Projects</h3>
            </div>
            <div class="Image-aspect-wrapper-feature">
                <FeaturedProject Title="Singularity" Role="Game Programmer/Designer" ProjectImage="Images/FeaturedProjects/Singularity.png" ProjectLink="FeaturedProjects#Singularity" />
            </div>
            <div class="Image-aspect-wrapper">
                <FeaturedProject Title="Prayr" Role="Associate Engineer" ProjectImage="Images/FeaturedProjects/Prayr.png" ProjectLink="FeaturedProjects#Prayr" />
            </div>
            <div class="Image-aspect-wrapper">
                <FeaturedProject Title="Tower Rush" Role="Associate Engineer" ProjectImage="Images/FeaturedProjects/TowerRush.jpg" ProjectLink="FeaturedProjects#TowerRush" />
            </div>
            <div class="non-image-wrapper centered-button">
                <div class="my-resume-button">
                    <HyperlinkButtonLogo Hyperlink="https://drive.google.com/file/d/1bm4Vwtk8o6wn_HDoRKwNAUYWCL4aa-cv/view?usp=drive_link" ButtonText="Printable Resume" ButtonIconPath="SVGs/resume.svg" />
                </div>
            </div>
        </div>
    </div>
</section>


@code {
}
