* {
    text-align:center;
}

section {
    padding: 5rem 1.5rem 2rem 1.5rem;
    background-color: #f0f3f4;
    min-height : 90vh;
}

div .testimonial-content {
    margin-bottom: 2rem;
    padding: 0;
    border: 0;
    height: 55vh;
    min-height:400px;
}

.testimonial-quote-container {
    max-width: 700px;
    margin: 0 auto 2.5rem;
    height: 62.5%;
    overflow-y: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-quote {
    text-align: center;
    text-overflow:ellipsis;
    margin:0;
}

h2 {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h3 {
    margin-bottom: 0.25rem;
}

