section {
    padding: 5rem 1.5rem 2rem 1.5rem;
    min-height: 90vh;
}

.project-content {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    min-height: 55vh;
}

.project-column {
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0;
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    vertical-align: baseline;
}
    .project-column:last-child {
        border-right: none;
    }

.double-wide {
    flex-basis: 1;
    flex-grow: 2;
    padding-right: .5em;
}

.wide-screen {
    display:none;
}
.narrow-screen {
    display:flex;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    .project-content {
        display: flex;
        gap: 1.5rem;
    }

    .project-column {
        border-right: 1px solid #E6ECF8;
    }

    .wide-screen {
        display: flex;
    }
    .narrow-screen {
        display: none;
    }

}