<ul class="buttons">
    <li>
        <HyperlinkButtonLogo Hyperlink="mailto:wksnders+portfolio@gmail.com" ShowText=false ButtonText="" ButtonIconPath="SVGs/email.svg" />
    </li>
    <li>
        <HyperlinkButtonLogo Hyperlink="https://www.linkedin.com/in/wyatt-sanders/" ShowText=false ButtonText="" ButtonIconPath="SVGs/linkedin.svg" />
    </li>
    <li>
        <HyperlinkButtonLogo Hyperlink="https://discordapp.com/users/216400302553694209" ShowText=false ButtonText="" ButtonIconPath="SVGs/discord.svg" />
    </li>
</ul>
@code {

}
