
<ul class="buttons">
    <li>
        <HyperlinkButtonLogo Hyperlink="mailto:wksnders+portfolio@gmail.com" ButtonText="Email" ButtonIconPath="SVGs/email.svg" />
    </li>
    <li>
        <HyperlinkButtonLogo Hyperlink="https://www.linkedin.com/in/wyatt-sanders/" ButtonText="LinkedIn" ButtonIconPath="SVGs/linkedin.svg" />
    </li>
    <li>
        <HyperlinkButtonLogo Hyperlink="https://discordapp.com/users/216400302553694209" ButtonText="Discord" ButtonIconPath="SVGs/discord.svg" />
    </li>
</ul>
@code {

}
