

<a rel="noreferrer" href="@Hyperlink" target="_blank" class="button hyperlink weight-heavy body-text" style="--my-padding:@padding">
    @if(ShowText)
    {
        <span class="label">@ButtonText</span>
    }
    <img src=@ButtonIconPath alt="logo" />
</a>

@code {
    [Parameter]
    public bool ShowText { get; set; } = true;
    private string padding { get
        {
            return ShowText ? "1.375rem" : "0";
        } 
    }
    [Parameter]
    public required string Hyperlink { get; set; }
    [Parameter]
    public required string ButtonText { get; set; }
    [Parameter]
    public required string ButtonIconPath { get; set; }
    //svgs are supported in the image tag https://learn.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-7.0#scalable-vector-graphics-svg-images
}
