@using WyattSandersPortfolio.Components.ReusableComponents
@using WyattSandersPortfolio.Components.ReusableComponents.Contact
@using WyattSandersPortfolio.Components.ReusableComponents.Lists
@using WyattSandersPortfolio.Models

<footer>
    <div class="footerSection Name">
        <h1 class="header-text weight-heavy">
            Wyatt Sanders
            <span class="footer-dividing-line"></span>
        </h1>
    </div>
    <div class="footerSection ResumeFooterSection">
        <h4 class="subheader-text weight-mid">Resume</h4>
        <div class="my-resume-button">
            <HyperlinkButtonLogo Hyperlink="https://drive.google.com/file/d/1hyDHpkx4PnRY3QTvEVqQWql86mrA4CaX/view?usp=drive_link" ButtonText="Resume" ButtonIconPath="SVGs/resume.svg" />
        </div>
    </div>
    <!--
    <div class="footerSection ProjectNavigation">
        <h4 class="subheader-text weight-mid">Projects</h4>
        <FooterList ListItemsToLinks=@projects/>
    </div>
    <div class="footerSection GamesNavigation">
        <h4 class="subheader-text weight-mid">Web Games</h4>
        <FooterList ListItemsToLinks=@games/>
    </div>-->
    <div class="footerSection ContactMe">
        <h4 class="subheader-text weight-mid">Contact Me</h4>
        <ContactButtons FlexStyle="column" />
    </div>
</footer>

@code {
    //private Dictionary<string, string>? games;
    //private Dictionary<string, string>? projects;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        //games = NavigationLists.GetGames();
        //projects = NavigationLists.GetProjects();
    }
}
